version: "2"
services:
  mail:
    image: 'htmlgraphic/mail:loopback'
    container_name: mail
    ports:
      - '25:25'
      - '143:143'
      - '587:587'
    volumes:
      - /data:/srv
    volumes_from:
      - mailbase
    environment:
      - HOSTNAME=email-test.htmlgraphic.com
      - NODE_ENVIRONMENT=production
      - LOG_TOKEN=
      - SASLUSER=
      - SASLPASS=
  mailbase:
    image: 'htmlgraphic/mailbase:loopback'
